# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

/storybook
/storybook-static

# testing
/coverage

# next.js
/.next/
/out/

/storybook
/storybook-static

# production
/build
/simplelocalize.yml
.storybook
.storybook-static


# misc
.DS_Store
*.pem

/storybook
/storybook-static

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env
.env.production
.env.example
# vercel
.vercel
src/simplelocalize.yml
src/sitemap-generator.js
src/sitemap-routes.js

src/storybook
src/storybook-static

# typescript
*.tsbuildinfo
next-env.d.ts
/hop.yml
.yarn.lock.turbo
./simplelocalize.yml

/storybook
/storybook-static
/.turbo.json
.turbo
