@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @apply bg-white dark:bg-black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



.linkify a {
  @apply text-blue-700;
  @apply hover:text-blue-500 dark:hover:text-blue-500;
}

.linkify-message a {
  @apply hover:decoration-2;
  @apply underline;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dropdown:hover .dropdown-menu {
  align-items: center;
  display: block;
  z-index: 9999;
  top: 50px;
}

/* interweave linkify */
.interweave-content a {
  @apply text-blue-700;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.giphy-gif {
  @apply !rounded-none;
}

.page-center {
  @apply  h-[calc(100vh-65px)] items-center justify-center;
}

.tippy-content {
  @apply !px-2.5 !py-0.5;
}

.label {
  @apply mb-1 font-medium text-black dark:text-white ;
}

.dropdown-active {
  @apply !bg-transparent;
}

.divider {
  @apply border-b dark:border-black;
}

.lt-text-gray-500 {
  @apply text-gray-500 ;
}



.oembed-player,
iframe {
  @apply rounded-xl flex h-[flex] w-full ;
}

/** CSS overrides for plyr audio **/
.plyr--audio .plyr__controls {
  @apply !bg-transparent !text-blue-700;
}

.plyr--audio .plyr__control {
  @apply hover:!bg-transparent;
}

.plyr--audio.plyr--full-ui input[type='range'] {
  @apply !text-white;
}




.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

#typeahead-menu {
  @apply z-20;
}


/* Markup styles */

.markup > p,
ul {
  @apply !leading-6 sm:!leading-7;
  @apply [&:not(:last-child)]:mb-5;
}

.lp-player {
  @apply [&>div>div]:shadow-none;
  @apply [&>div>div]:border;
  @apply [&>div>div]:border-gray-100;
  @apply [&>div>div]:dark:border-gray-700;
}

/* react-virtuoso - Virtual profile list */
.virtual-profile-list {
  @apply !h-[80vh];
  @apply [&>div>div]:divide-y;
  @apply [&>div>div]:dark:divide-gray-700;
}

/* react-virtuoso - Virtual notifications list */
.virtual-notification-list {
  @apply [&>div>div]:divide-y;
  @apply [&>div>div]:dark:divide-gray-700;
}


.lensshare-player {
  @apply rounded-xl flex h-[flex] w-full ;
  @apply relative gap-4 rounded-xl border-0 md:flex flex ;
  @apply [&>div>div]:shadow-none;

  @layer border-radius-10px;

}